## Exploratory Data Analysis

In [3]:
import pandas as pd
 
df = pd.read_csv('developer_dataset.csv')

print(df.head()) 
print(df.columns)

   RespondentID  Year        Country          Employment  \
0             1  2018  United States  Employed full-time
1             1  2019  United States  Employed full-time
2             1  2020  United States  Employed full-time
3             2  2018  United States  Employed full-time
4             2  2019  United States  Employed full-time

                                      UndergradMajor  \
0  Computer science, computer engineering, or sof...
1  Computer science, computer engineering, or sof...
2  Computer science, computer engineering, or sof...
3  Computer science, computer engineering, or sof...
4  Computer science, computer engineering, or sof...

                                             DevType  \
0           Engineering manager;Full-stack developer
1                              Developer, full-stack
2                                                NaN
3                               Full-stack developer
4  Data or business analyst;Database administrato...

                                  LanguageWorkedWith  \
0                                                NaN
1                                C;C++;C#;Python;SQL
2                                  HTML/CSS;Ruby;SQL
3   C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4  Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...

                              LanguageDesireNextYear  \
0                                                NaN
1                                C;C#;JavaScript;SQL
2                                    Java;Ruby;Scala
3   C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell
4  Bash/Shell/PowerShell;HTML/CSS;JavaScript;Rust...

                                  DatabaseWorkedWith  \
0                                                NaN
1                                       MySQL;SQLite
2                      MySQL;PostgreSQL;Redis;SQLite
3  SQL Server;Microsoft Azure (Tables, CosmosDB, ...
4                  Couchbase;DynamoDB;Firebase;MySQL

                              DatabaseDesireNextYear  ...  \
0                                                NaN  ...
1                                       MySQL;SQLite  ...
2                                   MySQL;PostgreSQL  ...
3  SQL Server;Microsoft Azure (Tables, CosmosDB, ...  ...
4                               Firebase;MySQL;Redis  ...

                              PlatformDesireNextYear Hobbyist  \
0                                                NaN      NaN
1                                      Linux;Windows       No
2  Docker;Google Cloud Platform;Heroku;Linux;Windows      Yes
3                                              Azure      NaN
4  Android;AWS;Docker;IBM Cloud or Watson;Linux;S...      Yes

                OrgSize YearsCodePro  \
0                   NaN          NaN
1  100 to 499 employees          1.0
2                   NaN          8.0
3                   NaN          4.0
4    10 to 19 employees          8.0

                                        JobSeek ConvertedComp  WorkWeekHrs  \
0                                           NaN      141000.0          NaN
1  I am not interested in new job opportunities       61000.0         80.0
2                                           NaN           NaN          NaN
3                                           NaN       48000.0          NaN
4  I am not interested in new job opportunities       90000.0         40.0

   NEWJobHunt NEWJobHuntResearch     NEWLearn
0         NaN                NaN          NaN
1         NaN                NaN          NaN
2         NaN                NaN  Once a year
3         NaN                NaN          NaN
4         NaN                NaN          NaN

[5 rows x 21 columns]
Index(['RespondentID', 'Year', 'Country', 'Employment', 'UndergradMajor',
       'DevType', 'LanguageWorkedWith', 'LanguageDesireNextYear',
       'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'Hobbyist', 'OrgSize', 'YearsCodePro',
       'JobSeek', 'ConvertedComp', 'WorkWeekHrs', 'NEWJobHunt',
       'NEWJobHuntResearch', 'NEWLearn'],
      dtype='object')

/var/folders/75/lyw_2gw520g01lbc7x5jmbd4wpgvj8/T/ipykernel_3604/949262143.py:3: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('developer_dataset.csv')

In [4]:
print(df.count())
df.shape

RespondentID              111209
Year                      111209
Country                   111209
Employment                109425
UndergradMajor             98453
DevType                   100433
LanguageWorkedWith        102018
LanguageDesireNextYear     96044
DatabaseWorkedWith         85859
DatabaseDesireNextYear     74234
PlatformWorkedWith         91609
PlatformDesireNextYear     85376
Hobbyist                   68352
OrgSize                    54804
YearsCodePro               94793
JobSeek                    60556
ConvertedComp              91333
WorkWeekHrs                51089
NEWJobHunt                 19127
NEWJobHuntResearch         18683
NEWLearn                   24226
dtype: int64

(111209, 21)

We clearly have a lot of missing data.

In [5]:
df.describe()

        RespondentID           Year  YearsCodePro  ConvertedComp   WorkWeekHrs
count  111209.000000  111209.000000  94793.000000   9.133300e+04  51089.000000
mean    19262.039709    2018.854832      9.547045   1.251777e+05     41.051670
std     11767.011322       0.777503      7.548931   2.461218e+05     13.833929
min         1.000000    2018.000000      0.000000   0.000000e+00      1.000000
25%      9268.000000    2018.000000      4.000000   4.600000e+04     40.000000
50%     18535.000000    2019.000000      8.000000   7.900000e+04     40.000000
75%     28347.000000    2019.000000     14.000000   1.200000e+05     42.000000
max     42857.000000    2020.000000     50.000000   2.000000e+06    475.000000